<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flipping Cards</title>
  <link rel="stylesheet" href="myStyle.css">
</head>
<body>





<div id="flashcards-app">
    <div>

        <input type="text" placeholder="Enter question here" v-model:form="form.question">
        <input type="text" placeholder="Enter answer here" v-model:form="form.answer">

        <br>
        <input type="radio" id="history" value="history" v-model="category">
        <label for="one">History</label>
        <input type="radio" id="science" value="science" v-model="category">
        <label for="one">Science</label>
        <input type="radio" id="math" value="math" v-model="category">
        <label for="three">Math</label>
        <br>
        <button v-on:click="addItem">Submit</button>

    </div>
    <br>

    <div class="card" v-for="(item, index) in cards" v-on:click="flipCard(index)">
        <div class="top" v-bind:class="cards[index].category"></div>
        <div class="side1" v-bind:class="{hide:item.flipped}">
            <h1>{{item.question}}</h1>
        </div>
      <!-- In your template, remove the 'hide' class from the side1 and side2 elements. 'hide' class should be conditionally rendered through the 'flipped' value in the card -->

        <div class="side2 " v-bind:class="{hide:!item.flipped}">
            <h1>{{item.answer}}</h1>
        </div>
    </div>




</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="app.js"></script>
</body>
</html>
